<!DOCTYPE html>
<html>

<head>
  <title>{{configuration.mainPageTitle}}</title>
  <meta name="viewport" content="width=device, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <h2>{{configuration.mainPageTitle}}</h2>
  <h3>Commands:</h3>
  <ul>
    {{#configuration.commandList}}
      <li><a href="{{httpPath}}">{{description}}</a></li>
    {{/configuration.commandList}}
  </ul>

  {{#configuration.proxyList.length}}
  <h3>Proxy Paths:</h3>
  <ul>
    {{#configuration.proxyList}}
      <li><a href="{{httpPath}}">{{description}}</a></li>
    {{/configuration.proxyList}}
  </ul>
  {{/configuration.proxyList.length}}

  {{#staticFilesInMainPage.length}}
  <h3>Static Paths:</h3>
  <ul>
    {{#staticFilesInMainPage}}
      <li><a href="{{httpPath}}">{{filePath}}</a></li>
    {{/staticFilesInMainPage}}
  </ul>
  {{/staticFilesInMainPage.length}}

  <h3>Debug Info:</h3>
  <ul>
    <li><a href="/configuration">configuration</a></li>
    <li><a href="/environment">environment</a></li>
    {{#configuration.proxyList.length}}
    <li><a href="/http_agent_status">http agent status</a></li>
    {{/configuration.proxyList.length}}
    <li><a href="/v8_stats">v8 stats</a></li>
  </ul>

  <hr>
  <small>Page Generated: {{now}}</small>
  <br>
  <small>Git Hash: {{environment.gitCommit.hash}}</small>
</body>

</html>
