<!DOCTYPE html>
<html>

<head>
  <title>{{command.description}}</title>
  <meta name="viewport" content="width=device, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="style.css" />

  <script>

    const xRequest = new XMLHttpRequest();

    const updatePre = (text) => {
      const preCollection = document.getElementsByTagName('pre');
      for (i = 0; i < preCollection.length; ++i) {
        preCollection[i].innerText = text;
      }
    };

    xRequest.onreadystatechange = function() {
      console.log(`onreadystatechange readyState = ${this.readyState}`);
      if (this.readyState == 4 && this.status == 200) {
        const responseObject = JSON.parse(xRequest.responseText);
        let preText = `Now: ${responseObject.now}\n\n`;
        preText += `${responseObject.proxy.options.method} ${responseObject.proxy.options.hostname}:${responseObject.proxy.options.port}${responseObject.proxy.options.path}\n\n`;
        preText += `Response Status: HTTP/${responseObject.proxyResponseVersion} ${responseObject.proxyResponseStatus}\n\n`;
        preText += `Response Headers:\n${responseObject.proxyResponseHeaders}\n\n`;
        preText += responseObject.proxyResponseData;
        updatePre(preText);
      }
    };

    const requestData = () => {
      xRequest.open('GET', '{{&proxy.httpPath}}', true);
      xRequest.setRequestHeader('Accept', 'application/json');
      xRequest.send();
    };

    const onload = () => {
      requestData();
    };

  </script>
</head>

<body onload="onload()">

<p>
<a href="..">..</a>
</p>

<button onclick="requestData()">Refresh</button>

<pre></pre>

</body>

</html>
